.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.box {
  height: 5rem;
  width: 10rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
